<% title "Comment for '#{@post.title}'" %>
<p>Find me in app/views/comments/show.html.erb</p>

<p>
  <strong>Commenter: </strong>
  <%= h @comment.commenter %>
</p>
<%= simple_format(@comment.body) %>
<%= link_to "Back to the post", @post %>
